<html>
    <head>
        <title>{{ chosen_brand }}</title>
    </head>
    <body>
        <h1>{{ chosen_brand }}</h1>

        <div>
            Average mileage: {{ averageMileage }} km
            <br>
            Average price: {{ averagePrice }} PLN
        </div>

        <form method="POST">
             <select name="model_item">
                 <option selected="selected">--</option>
                 {% for model in models %}
                    <option value="{{ model }}" id="chosen_model">{{model}}</option>
                 {% endfor %}
             </select>

            {% csrf_token %}

            <button name="foo" value="upvote">Go</button>

        </form>
        <form method="POST">
            <button name="back" value="reset">Reset</button>
            {% csrf_token %}
        </form>
        <table id="brandstable">
            {% for item in items %}
                <tr><td>{{ item }}</td></tr>
            {% endfor %}
        </table>
    </body>
</html>